﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>            
        </div>
    </section>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#Studies').change(function () {
            var study = $('#Studies').val();
            $.ajax({
                type: 'GET',
                url: 'Home/GetTablesByStudy',
                cache: false,
                data: { Study: study },
                success: function (data) {
                    $('#lstTables').find('option').remove();
                    $.each(data, function (i) {
                        $('#lstTables').append('<option value="' + data[i].AppTableId + '">' + data[i].Name + '</option>');
                    });
                },
                error: function (ex) {
                    alert(ex);
                }
            });
        });

        $('#lstTables').click(function getTableData() {
            var tableId = $('#lstTables').val();
            window.location.href = '/home/TableData?tableId=' + tableId;
        });
        
    });    
</script>
<h3>Please Select a Study:</h3>
<div>
    <select id="Studies" style="width:300px">
        <option value="0">-- Select --</option>
        <option value="1">Fuel</option>
        <option value="2">Power</option>
        <option value="3">Olefin</option>
        <option value="4">RAM</option>
        <option value="5">NGPP</option>
        <option value="6">Lube</option>

    </select>    
</div>
<br />
<div>
    <select id="lstTables" style="width:300px;height:500px" multiple="multiple" ></select>
</div>

