﻿@model Solomon.Edcs.Web.ViewModel.TableDataVM
@{
    ViewBag.Title = "TableData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.TableName.DisplayName</h2>
<style type="text/css">
    .col1width 
    {
        width: 100px;
    }
    .colZeroWidth {
        width: 0px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSave').click(function () {

            var tableData = [];
            var table = $('.table');
            var tr = $(table).find('tr');
            
            $(tr).each(function (index, item) {
                var appRowId = $(item).find('.app-row-id').attr('data-appcolumnvalue');
                var col = $(item).find('td');
                $(col).each(function (index, item) {
                    var id = $(item).find('.edit-mode').attr('id');
                    if (id != undefined) {
                        var columnId = $(item).find('.edit-mode').data('appcolumnid');
                        var columnValue = $(item).find('#AppColumnValue').val();

                        tableData.push({ AppRowId: appRowId, AppColumnId: columnId, CellValue: columnValue });
                    }
                });
            });

            $.ajax({
                type: 'POST',
                url: '/Home/SubmitTableData',
                cache: false,
                data: { dataSet: 1, input: JSON.stringify(tableData) },
                success: function (output) {
                    alert(output);
                }
            });

        });

        $('#btnNext').click(function () {

            var workflowId = $('#WorkflowId').val();
            var workflowStepId = $('#WorkflowStepId').val();

            window.location.href = '/home/GetWorkflow?WorkflowId=' + workflowId + '&WorkflowStepId=' + workflowStepId + '&ButtonType=Next';
        });

        $('#btnPrevious').click(function () {

            var workflowId = $('#WorkflowId').val();
            var workflowStepId = $('#WorkflowStepId').val();

            window.location.href = '/home/GetWorkflow?WorkflowId=' + workflowId + '&WorkflowStepId=' + workflowStepId + '&ButtonType=Previous';
        });

    });
</script>

<div>
    @Html.HiddenFor(x => x.WorkflowId)
    @Html.HiddenFor(x => x.WorkflowStepId)
</div>

<div>    
@{
    var grid = new WebGrid(Model.DataSource, canSort: false, canPage: false);
    
    List<WebGridColumn> cols = new List<WebGridColumn>();
    
    foreach (var col in Model.Columns)
    {
        if (col.Name == "AppRowId")
        {
            cols.Add(grid.Column(format: @<text><span data-appcolumnvalue="@item["AppRowId"]" class="app-row-id"><input type="hidden" style="width:0px" name="AppRowId" data-appcolumnvalue="@item["AppRowId"]" data-appcolumnid="@col.AppColumnId"  value="@item["AppRowId"]"/></span></text>, style: "colZeroWidth"));
        }
        else if (col.IsReadOnly.HasValue && col.IsReadOnly.Value)
        {
            cols.Add(grid.Column(col.Name, col.DisplayName, format: @<text> <span  class="display-mode"> <label data-appcolumnvalue="@item[col.Name]" data-appcolumnid="@col.AppColumnId">@item[col.Name]</label> </span></text>, style: "col1width"));
        }
        else
        {
            cols.Add(grid.Column(col.Name, col.DisplayName, format: @<text> <input type="text" data-appcolumnvalue="@item[col.Name]" data-appcolumnid="@col.AppColumnId" id="AppColumnValue" value="@item[col.Name]" class="edit-mode col1width" /></text>, style: "col1width"));
        }
    }
    
}
    
    <div class="container-fluid ">
        <div class ="row">
             @grid.GetHtml(
                tableStyle: "table table-striped table-bordered",
                columns: cols                
             )

        </div>
    </div>
    <div class="row" style="padding-top:15px; padding-bottom:15px; padding-left:15px">
        <button class="btn btn-primary btn-xs" id="btnPrevious" type="button">
            <span class="glyphicon glyphicon-chevron-left"></span>Previous
        </button>
        <button class="btn btn-primary btn-xs" id="btnNext" type="button">
            <span class="glyphicon glyphicon-chevron-right"></span>Next
        </button>
        <button class="btn btn-success btn-xs" id="btnSave" type="button">
            Save
        </button>
    </div>

</div>
